In [ ]:
import sqlite3

In [ ]:
connection = sqlite3.connect("Employee_Info.db")

In [ ]:
#Create table:
cursor = connection.cursor() #cursor object
#The syntax (e.g, create table, insert) similar to if you write sql language. 
cursor.execute("CREATE TABLE Employee_Info (name TEXT, role TEXT, ID INTEGER)") #Use the execute function in cursor object

In [ ]:
#Adding data
cursor.execute("INSERT INTO Employee_Info VALUES('Sam', 'Software Engineer', 1)")
cursor.execute("INSERT INTO Employee_Info VALUES('Kim', 'Manager', 2)")
cursor.execute("INSERT INTO Employee_Info VALUES('Alex', 'QC Engineer', 3)")
cursor.execute("INSERT INTO Employee_Info VALUES('Kim', 'Cybersecurity Engineer', 4)")
cursor.execute("INSERT INTO Employee_Info VALUES('John', 'Software Engineer', 5)")
cursor.execute("INSERT INTO Employee_Info VALUES('Robert', 'Data Engineer', 6)")
cursor.execute("INSERT INTO Employee_Info VALUES('Erick', 'Business Analyst', 7)")

In [ ]:
print(connection.total_changes)

12

In [ ]:
#Reading data:
rows = cursor.execute("SELECT name, role, ID FROM Employee_Info").fetchall()

#This will return a tuple
print(rows)

for i in rows:
  print(i)

In [ ]:
row_conditioned = cursor.execute("SELECT name, role, ID FROM Employee_Info WHERE ID = '7'").fetchall()
print(row_conditioned)

In [ ]:
#Parameter
user_input = input("Enter the name of the employee")
row_conditioned_new = cursor.execute("SELECT name, role, ID FROM Employee_Info WHERE name = ?", (user_input,),).fetchall() 
print(row_conditioned_new)

In [ ]:
user_input_1 = input("What ID do you want to look for?")
user_condition = cursor.execute("SELECT name, role, ID FROM fish WHERE tank_number = ?",(user_input_1),).fetchall()
print(user_condition)

What tank do you want to look for?7
[('Jamie', 'cuttlefish', 7), ('Jamie', 'cuttlefish', 7), ('Jamie', 'cuttlefish', 7), ('Jamie', 'cuttlefish', 7), ('Jamie', 'cuttlefish', 7), ('Jamie', 'cuttlefish', 7)]

In [ ]:
list_input = []
user_input_1 = input("What ID do you want to look for?")
list_input.append(user_input_1)
user_input_2 = input("Name?")
list_input.append(user_input_2)


user_condition = cursor.execute("SELECT name, role, ID FROM Employee_Info WHERE ID = ? and name =?",(list_input),).fetchall()
print(user_condition)

In [ ]:
#Update rows and column statements

ID = 1
employee_name = "Sam"
cursor.execute("UPDATE Employee_Info SET ID = ? WHERE name = ?", (new_tank_number, moved_fish_name))

rows = cursor.execute("SELECT name, ID FROM Employee_Info").fetchall()
print(rows)